#home_page_wrapper {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 100px;
  padding-bottom: 100px;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2); }
  #home_page_wrapper .entry-content h1 {
    font-size: 2em; }
  #home_page_wrapper .entry-content .aiovg-player-container {
    margin: 0 auto; }
  #home_page_wrapper .entry-content .aiovg-player iframe,
  #home_page_wrapper .entry-content .aiovg-player .video-js {
    z-index: -1; }
  #home_page_wrapper .entry-content .weekly-video-data {
    font-size: 55%; }

/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #home_page_wrapper .entry-content h1 {
    font-size: 3em; } }

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #home_page_wrapper .entry-content h1 {
    font-size: 4em; } }

@media screen and (min-device-width: 1024px) {
  #home_page_wrapper .entry-content h1 {
    font-size: 4.4em; } }

#explore_season_page_wrapper {
  /* Smooth CSS3 Scrolling */ }
  #explore_season_page_wrapper .entry-content {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 30%; }
    #explore_season_page_wrapper .entry-content * {
      margin: 0;
      padding: 0; }
    #explore_season_page_wrapper .entry-content .card {
      display: flex;
      font-size: 1.5em;
      position: absolute;
      width: 600px;
      height: 300px;
      transition: transform 0.3s ease-out;
      border-radius: 8px;
      background: black;
      margin: 10px;
      border-radius: 5px;
      transition: 0.5s;
      box-shadow: 0px 0px 20px gold;
      transition: 0.3s;
      color: white; }
      @media (max-width: 700px) {
        #explore_season_page_wrapper .entry-content .card {
          width: 80%; } }
      @media (max-height: 400px) {
        #explore_season_page_wrapper .entry-content .card {
          height: 40%; } }
      #explore_season_page_wrapper .entry-content .card .previous {
        position: fixed;
        left: 50%;
        top: 10px;
        transform: translate(-50%, 0);
        margin: 0 auto;
        text-align: center; }
      #explore_season_page_wrapper .entry-content .card h1 {
        color: Gold;
        text-align: center; }
      #explore_season_page_wrapper .entry-content .card .next {
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -30%);
        margin: 0 auto;
        text-align: center; }
    #explore_season_page_wrapper .entry-content .first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: sans-serif; }
      @media (max-width: 700px) {
        #explore_season_page_wrapper .entry-content .first {
          font-size: 1rem; } }
  #explore_season_page_wrapper .spacer {
    padding: 100%; }
  #explore_season_page_wrapper .EXE_NAV {
    text-align: center; }
  #explore_season_page_wrapper .EXE_NAV nav {
    width: 100%;
    padding-top: 0.5rem;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 10; }
  #explore_season_page_wrapper .EXE_NAV nav ul {
    list-style: none;
    width: inherit;
    margin: 0; }
  #explore_season_page_wrapper .EXE_NAV ul li {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    line-height: 1.5; }
  #explore_season_page_wrapper .EXE_NAV ul li a {
    color: #fff;
    text-decoration: none; }
  #explore_season_page_wrapper .panel {
    width: 100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    height: 100vh;
    background: black; }
    #explore_season_page_wrapper .panel #button {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -30%);
      background-color: #fff;
      color: black;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none; }
    #explore_season_page_wrapper .panel #button:hover {
      cursor: pointer;
      background: #e7e7e7; }
    #explore_season_page_wrapper .panel #button:active {
      background-color: #555; }
    #explore_season_page_wrapper .panel #button.show {
      opacity: 1;
      visibility: visible; }
    #explore_season_page_wrapper .panel .main {
      max-width: 1200px;
      margin: 0 auto;
      position: relative; }
    #explore_season_page_wrapper .panel h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center; }
    #explore_season_page_wrapper .panel img {
      height: auto;
      max-width: 100%;
      vertical-align: middle; }
    #explore_season_page_wrapper .panel .btn {
      color: #ffffff;
      padding: 0.8rem;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 400;
      display: block;
      width: 100%;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: transparent; }
    #explore_season_page_wrapper .panel .btn:hover {
      background-color: rgba(255, 255, 255, 0.12); }
    #explore_season_page_wrapper .panel .row-2 {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: 15%; }
    #explore_season_page_wrapper .panel .row-2_item {
      display: flex;
      padding: 1rem; }
    #explore_season_page_wrapper .panel .row-2_content {
      margin: auto; }
    @media (min-width: 40rem) {
      #explore_season_page_wrapper .panel .row-2_item {
        width: 50%; } }
    @media (min-width: 56rem) {
      #explore_season_page_wrapper .panel .row-2_item {
        width: 33.3333%; } }
    #explore_season_page_wrapper .panel .row-2-decks {
      width: 10em;
      height: 300px;
      transition: transform 0.3s ease-out;
      border-radius: 8px;
      background: black;
      margin: 10px;
      border-radius: 5px;
      transition: 0.5s;
      box-shadow: 0px 0px 20px gold;
      transition: 0.3s;
      color: white;
      display: flex;
      flex-direction: column;
      overflow: hidden; }
      @media (max-height: 400px) {
        #explore_season_page_wrapper .panel .row-2-decks {
          height: 40%; } }
      #explore_season_page_wrapper .panel .row-2-decks h1 {
        color: Gold;
        text-align: center; }
    #explore_season_page_wrapper .panel .row-2_title {
      color: #ffffff;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: capitalize;
      margin: 0px;
      top: 0;
      padding: 5%; }
    #explore_season_page_wrapper .panel .row-2_text {
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      font-weight: 400; }
    #explore_season_page_wrapper .panel .made_by {
      font-weight: 400;
      font-size: 13px;
      margin-top: 35px;
      text-align: center; }
  #explore_season_page_wrapper .panel h1 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #fff;
    position: relative;
    top: 33%;
    text-align: center;
    margin: 0; }
  #explore_season_page_wrapper a[id="EXE_DIV1"]:target ~ #EXE_MAIN article.panel {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  #explore_season_page_wrapper a[id="EXE_DIV2"]:target ~ #EXE_MAIN article.panel {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px); }
  #explore_season_page_wrapper a[id="EXE_DIV3"]:target ~ #EXE_MAIN article.panel {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px); }

@media screen and (min-width: 768px) {
  #explore_season_page_wrapper .entry-content {
    justify-content: center;
    align-items: center;
    margin-top: 0; } }

@media screen and (min-width: 1200px) {
  #explore_season_page_wrapper .spacer {
    padding: 25%; }
  #explore_season_page_wrapper .panel .row-2 {
    padding-bottom: 5%; } }

body {
  background: black;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

h1,
p,
li {
  font-family: "Times New Roman", serif;
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  color: transparent;
  -webkit-background-clip: text; }

* {
  box-sizing: border-box; }

.nav {
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, #cb9b51, transparent);
  position: relative; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px; }
  .nav > .nav-header > .nav-title img {
    width: 55%; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px; }

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef; }

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

@media (min-width: 1200px) {
  .nav > .nav-header > .nav-title img {
    width: 100%; } }

@media (max-width: 1279px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3); }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }
  .nav > .nav-links > a {
    display: block;
    width: 100%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }
