$backgroundColor: #21252e;
$firstCard: #ffa719;
$secondCard: #e56660;
$thirdCard: #b94a53;
$fourthCard: #4b345e;
$fifthCard: #724e94;
#explore_season_page_wrapper {
    .entry-content {
        * {
            margin: 0;
            padding: 0;
        }
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .card {
            display: flex;
            font-size: 1.5em;
            position: fixed;
            width: 600px;
            height: 300px;
            transition: transform 0.3s ease-out;
            box-shadow: 0 0 2px 0 #000;
            border-radius: 8px;

            @media (max-width: 700px) {
                width: 80%;
            }

            @media (max-height: 400px) {
                height: 40%;
            }
            .previous {
                position: fixed;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0);
                margin: 0 auto;
                text-align: center;
            }
            .next {
                position: fixed;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -30%);
                margin: 0 auto;
                text-align: center;
            }
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            color: $backgroundColor;
            background-color: $firstCard;

            @media (max-width: 700px) {
                font-size: 1rem;
            }
        }

        .second {
            background-color: $secondCard;
        }

        .third {
            background-color: $thirdCard;
        }

        .fourth {
            background-color: $fourthCard;
        }

        .fifth {
            background-color: $fifthCard;
        }
    }
}
