@import "_home.scss";

body{
  background: black;
}

h1{
  font-family: 'Times New Roman',serif;
  font-size: 2em;
  font-weight: bold;
  background-image: linear-gradient(
 to right,
 #462523 0,
        #cb9b51 22%, 
 #f6e27a 45%,
 #f6f2c0 50%,
 #f6e27a 55%,
 #cb9b51 78%,
 #462523 100%
 );
  color:transparent;
  -webkit-background-clip:text;

}